
#dropdown-home {
  display: inline;
  margin-top:19.92px;
Background-color: black
Width: 100%;
}
#dropdown-content-home {
Transition: 1s;
display: inline;
  width: 100%;
Margin-block-start: 0px;
opacity: 0%;
  animation-name: example;
  animation-duration: 4s;
}

#dropdown-home:hover #dropdown-content-home {
display: inline;
  width: 100%;
  opacity: 100%;
}
#homepage{
  display: inline;
  width: 100%;
Margin-block-start: 0px;
opacity: 0%;  
}
/* Safari 4.0 - 8.0 */

/* Standard syntax */
@keyframes example {
  from {opacity: 100%;}
  to {opacity: 0%;}
}
body{
    background-color: white;
    Margin: 0px;
    font-family: Arial;
}
#LogoName{
    font-size: 36px;
    margin-top: 150px;
    color: black;
    display: inline;
}
.Dropdown-element{
Font-size:18px;
Margin-left: 15px;
}
h2{
    color: whitesmoke;
    list-style: none;
    margin-bottom: 2px;
    display: inline;
}

#About-Dropdown-element {
  display: none;
  position: absolute;
  padding: 3px;
  background-color: black;
  
  z-index: 1;
}
#header-home{
Width: 100%;
background-color: darkred;
position: fixed;
}
#header-home: hover::after{
Background-color: black;
}
.content{
Width: 100%;
padding-top: 40px;
background-color:beige;
}
.wide{
Height: 400px;
}
.tall{
Height: 400px;
width: 300px;
}
a{
    color: whitesmoke;
    text-decoration: none;
}
#quickSummary{
display: block;
padding-top: 170px;
}
#content-home{
border-style: solid;
border-width: 5px;
border-color: white;
}
img{
    width: 30px;
    height:30px;
    padding-top: 0px;
}
td{
    width: 310px;
    height:410px;
}
#sideimg{
    width: 400px;
    height:900px;
}
p{
    width: 340%;
}
