#dropdown-home {
  display: inline;
  margin-top:19.92px;
Background-color: black
Width: 100%;
}
#dropdown-content-home {
    Display: none;
  margin-top: 0px;
}

#dropdown-home:hover #dropdown-content-home {
display: inline;
  width: 100%;
Margin-block-start: 0px;
}
h2{
    list-style: none;
    margin-bottom: 2px;
    display: inline;
}
body{
    background-color: blue;
}
#LogoName{
    font-size: 36px;
    margin-top: 150px;
    color: black;
    background-color: aliceblue;
    display: inline;
}
.Dropdown-element{
Font-size:18px;
Margin-left: 15px;
}
h2{
    color: white;
}
#Dropdown-About {
  position: relative;
  display: inline-block;
}

#About-Dropdown-element {
  display: none;
  position: absolute;
  padding: 3px;
  background-color: black;
  
  z-index: 1;
}

#Dropdown-About: active #About-Dropdown-element {
  display: inline;
}
#header-home{
Width: 100%
}
#header-home: hover::after{
Background-color: black;
}
Body{
Margin: none;
}